*{
    padding: 0;
    margin: 0;
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

figure{
    display: flex;
    justify-content: center;
    margin-top: -15px;
}


figure img{
    width: 300px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    margin-top: 20px;
}

nav a{
    color: rgb(25, 25, 59);
    text-decoration: none;
    font-size: 20px;
}
.home{
    display: flex;
    justify-content: space-evenly;
    margin-right: 40px;
    
}
.home div{
    padding-top: 140px;

}

.home img{
    margin-left: 50px;
    width: 400px;
    /* margin-top: 20px; */

}

.home h2{
    font-size: 35px;
    font-weight: 600;
    

}

.home input{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;

}

section{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;

}


/* for using in mobile */

@media(max-width: 420px) {
    figure{
        margin-top: -15px;

    }   
    figure img{
        width: 100px;

    } 
    .home{
        margin-right: 10px;
    }
    .home div{
        padding: 70px;
        padding-left: 40px;
        
    }
    .home img{
        width: 180px;
        margin-left: -80px;
        margin-top: 10px;

    }
    .home h2{
        font-size: 10px;
    }
    .home input{
        width: 100px;
        height: 20px;
        margin-top: 7px;

    }
    section{
        padding-bottom: 10px;
        padding-top: 30px;
    }


}
