*{
    padding: 0;
    margin: 0;
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

figure{
    display: flex;
    justify-content: center;
    margin-top: -15px;
}


figure img{
    width: 300px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    margin-top: 20px;
    background-color: #989393;
    padding-bottom: 20px;
    padding-top: 20px;

}

nav a{
    color: rgb(33, 33, 127);
    text-decoration: none;
    font-size: 20px;
    position: sticky;
}
.home{
    display: flex;
    justify-content: space-evenly;
    margin-right: 40px;
    
}
.home div{
    padding-top: 140px;

}

.home img{
    margin-left: 50px;
    width: 400px;
    /* margin-top: 20px; */

}

.home h2{
    font-size: 35px;
    font-weight: 600;
    

}

.home input{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;

}

section{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;

}

/* best sellers */
.best_selling{
    padding-top: 20px;
}
.best_selling h3{
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 20px;

}

.group_cards{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.books{
    height: 350px;
    border: 2px solid black;
    background-color: #e5edf3;
    border-radius: 5px;
    padding-bottom: 10px;

}
.books img{
    width: 300px;
    height: 350px;
    border-radius: 5px;
    filter: opacity(0.9);

}

.group_cards h6{
    position: relative;
    top: -120px;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: larger;

}

.books button{
    background: #2829299e;
    color: rgb(255, 255, 255);
    width: 10vw;
    height: 7vh;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -120px;
    border: navajowhite;
    
}




/* for using in mobile */

@media(max-width: 420px) {
    figure{
        margin-top: -15px;

    }   
    figure img{
        width: 100px;

    } 
    .home{
        margin-right: 10px;
    }
    .home div{
        padding: 70px;
        padding-left: 40px;
        
    }
    .home img{
        width: 180px;
        margin-left: -80px;
        margin-top: 10px;

    }
    .home h2{
        font-size: 10px;
    }
    .home input{
        width: 100px;
        height: 20px;
        margin-top: 7px;

    }
    section{
        padding-bottom: 10px;
        padding-top: 30px;
    }


}
